.c-models-list {
    &__icon {
        flex-shrink: 0;
        margin-right: 10px;
        font-size: 0;
        opacity: .5;
        color: #fff;
    }
    &__item {
        display: flex;
        align-items: center;
        padding: 16px;
        margin-top: 5px;
        border: 2px solid rgba(#fff,.1);
        border-radius: 10px;
        &:first-child {
            margin-top: 0;
        }
        &.active {
            border-color: $color--active;
            .c-models-list {
                &__icon {
                    opacity: 1;
                    color: $color--active;
                }
            }
        }
    }
    &__price {
        margin-left: auto;
        color: $color--active;
        font-weight: 700;
    }
}
